@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ff3e3e;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #ffffff;
}